<div{{attributes}}>
	{{ title_prefix }}

	{% block label %}
		{% if label %}
			<h2{{title_attributes}}>{{ label }}</h2>
		{% endif %}
	{% endblock %}

	{{ title_suffix }}

	{% block content %}
		{{ content }}
	{% endblock %}
</div>
